* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

.header {
  background: #222;
  color: #eee;

  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  transition: height 300ms;
  overflow-y: hidden;
}

.header-top {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.open {
  height: 100%;
}

.grow {
  flex: 1;
}

.main {
  margin-top: 4rem;
  padding: 1rem;
}
